<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="forget.css">
  </head>

  <body>
    <div>
      <h2 class="container">Reset Your Password</h2>
    </div>
    <div class="container">
      <form id="my-form">
        <div class="msg"></div>
        <div>
            <label for="email">Enter Registered Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter email here" required>
        </div>
        <input class="btn" id="submit" type="submit" value="submit" >
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="forgetpassword.js"></script>
  </body>
</html>